<!-- wrapper div to contain the carousel and new group button -->
<div class="carousel-wrapper">
  <!-- contains the new group button to keep it visible -->
  <div class="carousel-new-group">
    <!--     Links to creating a new group -->
    <% if signed_in? %>
      <%= link_to new_payment_group_path do %>
        <div class='button button-round add-group'>
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- contains the carousel -->
  <div class="carousel-scroller">
    <% if current_user %>
      <% current_user.payment_groups.each do |payment_group| %>
        <!--   Links to the current paymentgroup when pressing the picture -->
        <%= link_to payment_group_path(payment_group) do %>
          <div class="carousel-group">
            <%= cl_image_tag(payment_group.photo.key) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<!-- JS for carousel -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>