<div class="sidebar">
   <!--  LOGO -->
   <div class="navi-logo">
     <%= link_to root_path, class: 'logo-container' do %>
        <%= image_tag "logo.png", alt: "logo", class: 'sidebar-logo' %>
     <% end %>
   </div>

    <% if signed_in? %>
    <!--     Links to sign-out -->
    <div class="navbar-right">
     <%= link_to destroy_user_session_path, :method => :delete do %>
        <div class='button button-round add-group sign-out'>
          <i class="fas fa-sign-out-alt"></i>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
