
<!-- Creates the Sidebar. -> Sidebar needs the payment_groups as an argument when used -->
  <div class="sidebar">
    <% payment_groups.each do |payment_group| %>
  <!--   Links to the current paymentgroup when pressing the picture -->
      <%= link_to payment_group_path(payment_group) do %>
        <div class="sidebar-group">
          <%= cl_image_tag(payment_group.photo.key) %>
        </div>
      <% end %>

    <% end %>
<!--     Links to creating a new group -->
    <%= link_to new_payment_group_path do %>
      <div class='button button-round add-group'>
        <i class="fas fa-plus"></i>
      </div>
    <% end %>
<!--     Link wrapper for the sidebar -> payment-groups-Index -->
    <%= link_to '', payment_groups_path, class: 'sidebar-group-index-link' %>
  </div>
