<div class="edit-bill-form-container">
  <%= simple_form_for bill do |f|%>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.submit 'Edit Bill', class: 'button button-big form-button' %>
  <% end %>
</div>
