<!-- RENDERS THE ADD BILL FORM -->
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="form-container">
      <%= simple_form_for [ @split, @bill ] do |f|%>
          <%= f.input :title, placeholder: 'FamilyMart', autofocus: true; %>
          <%= f.input :price, placeholder: '2000' %>
        <%= f.submit 'Add Bill', class: 'button button-big' %>
      <% end %>
    </div>
  </div>
</div>
