<div class="split-card-home">
  <div>
    <h3> <%= split.name %> </h3>
    <p> <%= split.payment_group.name %> </p>
  </div>
 <!--  CALCULATE THE TOTAL -->
    <h4>$ TOTAL</h4>
<!--     LINKS TO THE IMG SCAN -->
    <%= link_to new_split_bill_path(split) do %>
      <p> LINK IMG TO SCAN </p>
    <% end %>
</div>
