<!-- for Slick-Carousel - to fix the back button -->
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- above is for Slick-Carousel -->
<div class="main-wrapper">
  <!--   Renders the sidebar (needs the payment_groups as an parameter) -->
  <div class="main-container">
    <%= image_tag "logo_lg.png", alt: "logo", class: 'logo-main' %>
    <!--      Renders the split-cards-home -->
    <% @splits.each do |split| %>
      <%= render 'pages/split-card-home', split: split %>
    <% end %>
  </div>
</div>