<div class="main-wrapper">
  <div class="sidebar"></div>
  <div class="main-container">
    <h1>Split|it</h1>
    <p>Active Splits</p>
    <% @splits.each do |split| %>
      <%= render 'pages/split-card-home', split: split %>
    <% end %>
  </div>
</div>
