<div class="main-wrapper">
<!--   Renders the sidebar (needs the payment_groups as an parameter) -->
  <div class="main-container">
    <h1>Split|it</h1>
    <p>Active Splits</p>
<!--      Renders the split-cards-home -->
    <% @splits.each do |split| %>
      <%= render 'pages/split-card-home', split: split %>
    <% end %>
  </div>
</div>


