<div class="main-container" id="splash-wrapper" style="background-image: <%= image_path('splash-bg.jpg') %>" >
  <div class="splash-text">
    <h3>Dealing with shared expenses is difficult.</h3><br><br>
    <h5>Luckily, we're here for you.</h5>
  </div>
  <% if signed_in? %>
  <div class="splash-buttons">
    <%= link_to 'Home', home_path, class: 'btn button' %>
  </div>
  <% else %>
  <div class="splash-buttons">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn button' %> &nbsp;<h3 style="color: black;">or</h3> &nbsp;
    <%= link_to 'Sign In', user_session_path, class: 'btn button' %>
  </div>
  <% end %>
</div>
