<div class="main-container" id="splash-wrapper">
  <div class="splash-text">
    <h3>Dealing with shared expenses is difficult.</h3><br><br>
    <h5>Luckily, we're here for you.</h5>
  </div>
  <div class="splash-buttons">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn button' %> &nbsp;<h3 style="color: black;">or</h3> &nbsp;
    <%= link_to 'Sign In', user_session_path, class: 'btn button' %>
  </div>
</div>
