<div class="main-wrapper">
  <div class="main-container">
    <h1 class="border-bottom"> <%= @split.name %> </h1>
    <h3> $ <%= get_split_total(@split)%> </h3>
    <%= render 'splits/tabs', bills: @bills %>
  </div>
</div>
