<!-- ACCORDION EXAMPLE CLASS FROM BOOTSTRAP  -->
<!-- https://getbootstrap.com/docs/4.6/components/collapse/#accordion-example -->
<div class="accordion" id="accordionExample">
  <!--   CARD DISPLAYING THE BOX AROUND THE BUTTON TO EXPAND THE ACCORDION -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <!-- TEXT OF BUTTON FOR THE ACCORDION MENU OPTION -->
        <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Active Splits
        </button>
      </h2>
    </div>
    <!-- THE BODY ONCE EXPANDED -->
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <% splits.where(active: true).each do |split| %>
          <%= render 'payment_group_split', split: split %>
        <% end %>
      </div>
    </div>
  </div>
  <!--   CARD DISPLAYING THE BOX AROUND THE BUTTON TO EXPAND THE ACCORDION -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <!-- TEXT OF BUTTON FOR THE ACCORDION MENU OPTION -->
        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Archived Splits
        </button>
      </h2>
    </div>
    <!-- THE BODY ONCE EXPANDED -->
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <% splits.where(active: false).each do |split| %>
          <%= render 'payment_group_split', split: split %>
        <% end %>
      </div>
    </div>
  </div>
  <!--   CARD DISPLAYING THE BOX AROUND THE BUTTON TO EXPAND THE ACCORDION -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <!-- TEXT OF BUTTON FOR THE ACCORDION MENU OPTION -->
        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Members
        </button>
      </h2>
    </div>
    <!-- THE BODY ONCE EXPANDED -->
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <% users.each do |user| %>
          <%= render 'payment_group_member', user: user %>
        <% end %>
      </div>
    </div>
  </div>
  <!--   CARD DISPLAYING THE BOX AROUND THE BUTTON TO EXPAND THE ACCORDION -->
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <!-- TEXT OF BUTTON FOR THE ACCORDION MENU OPTION -->
        <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          New Split
        </button>
      </h2>
    </div>
    <!-- THE BODY ONCE EXPANDED -->
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <%= render 'splits/form', payment_group: payment_group %>
      </div>
    </div>
  </div>
</div>
