<!-- Body of the card (flex column) -->
<div class="group-split-card-active">
  <%= link_to '', split_path(split), class: 'card-link' %>
  <!-- Top half of the card (flex) -->
  <div class="group-split-card-left-half">
    <!-- Two divs to hold attributes, for alignment -->
    <div class="group-split-card-name">
      <h5><%= split.name %></h5>
    </div>
    <!-- Ratio display is commented out until after Friday -->
    <!-- <div class="group-split-card-ratio">
      <p><i class="fas fa-percentage"></i> <%= split.split_ratio %></p>
    </div> -->
  </div>
  <!-- Bottom half of the card (flex) -->
  <div class="group-split-card-right-half">
    <!-- Two divs to hold attributes, for alignment -->
    <div class="group-split-card-balance">
      <p><i class="fas fa-comment-dollar"></i> user_balance</p>
    </div>
    <div class="group-split-card-total">
      <p><i class="fas fa-comments-dollar"></i> <%= split.total %></p>
    </div>
  </div>
</div>