<div class="group-member-card">
  <div class="group-member-card-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/SimonBystrom", class: "avatar-large" %>
  </div>
  <div class="group-member-card-details">
    <h5><%= user.name %></h5>
    <p><i><%= user.email %></i></p>
  </div>
</div>