<div class="group-split-card">
  <div class="group-split-card-top-half">
    <div class="group-split-card-name">
      <h3><%= split.name %></h3>
    </div>
    <div class="group-split-card-balance">
      <p>
        <i class="fas fa-dollar-sign"></i> user_balance
      </p>
    </div>
  </div>
  <div class="group-split-card-bottom-half">
    <div class="group-split-card-ratio">
      <p>Ratio: <%= split.split_ratio %></p>
    </div>
    <div class="group-split-card-total">
      <p>Total: <i class="fas fa-dollar-sign"></i><%= split.total %></p>
    </div>
  </div>
</div>