<!-- Page wrapper -->
<div class="group-index-container">
  <!-- card wrapper - flexbox -->
  <div class="group-card">
    <!-- card image -->
    <div class="group-card-image"></div>
    <!-- card info wrapper - flex column -->
    <div class="group-card-info-wrapper">
      <!-- card info - flex column -->
      <div class="group-card-info">
        <div class="group-card-title">
          <h3>Group Name</h3>
        </div>
        <div class="group-card-details">
          <p>
            <i class="fas fa-dollar-sign"></i> user_balance
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- TEST - card 2 -->
  <!-- card wrapper - flexbox -->
  <div class="group-card">
    <!-- card image -->
    <div class="group-card-image"></div>
    <!-- card info wrapper - flex column -->
    <div class="group-card-info-wrapper">
      <!-- card info - flex column -->
      <div class="group-card-info">
        <div class="group-card-title">
          <h3>Group Name</h3>
        </div>
        <div class="group-card-details">
          <p>
            <i class="fas fa-dollar-sign"></i> user_balance
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- TEST - card 3 -->
  <!-- card wrapper - flexbox -->
  <div class="group-card">
    <!-- card image -->
    <div class="group-card-image"></div>
    <!-- card info wrapper - flex column -->
    <div class="group-card-info-wrapper">
      <!-- card info - flex column -->
      <div class="group-card-info">
        <div class="group-card-title">
          <h3>Group Name</h3>
        </div>
        <div class="group-card-details">
          <p>
            <i class="fas fa-dollar-sign"></i> user_balance
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- TEST - card 4 -->
  <!-- card wrapper - flexbox -->
  <div class="group-card">
    <!-- card image -->
    <div class="group-card-image"></div>
    <!-- card info wrapper - flex column -->
    <div class="group-card-info-wrapper">
      <!-- card info - flex column -->
      <div class="group-card-info">
        <div class="group-card-title">
          <h3>Group Name</h3>
        </div>
        <div class="group-card-details">
          <p>
            <i class="fas fa-dollar-sign"></i> user_balance
          </p>
        </div>
      </div>
    </div>
  </div>
</div>