<!-- Page wrapper -->
<div class="group-index-container">
  <%= render 'payment_group' %>
  <!-- add new group button -->
  <div class="new-group-button">
    <%= link_to "New Group", new_payment_group_path, class: "btn btn-success" %>
  </div>
</div>