.bill-card-container{
 min-width:100%;
 padding: 0px 4px;
}
.bill-card{
  min-width: 100%;
  border-radius: 8px;
  background-color: white;
  // justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  i{
    font-size: 18px;
    opacity: 0.7;
  }
}


.bill-card-title{
  display:flex;
  justify-content: space-between;

  h3{
    margin: 0;
  }
  p{
    margin: 0;
    opacity: 0.7;
    font-size: 18px;
  }
}
.main {
  min-width: 65%;
}



.current-user-payment{
  color: green;
  opacity: 0.7;
}

.other-user-payment{
  color: red;
  opacity: 0.7;
}
