.button{
  background-color: $green;
  border-radius: 30px;
  padding: 8px 16px;
  color: white;
  // Centers the items in the button
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  i{
    color: black;
  }
  // Use h5's inside of buttons unless images
  h5{
    margin: 0;
  }
}

.button-round {
  padding: 16px 16px;
}

.button-big{
  width: 100%;
  padding: 16px 24px;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  color: white;
  background: rgb(83,177,216);
  background: linear-gradient(294deg, rgba(83,177,216,1) 24%, rgba(83,177,216,1) 44%, rgba(83,210,216,1) 90%);
  background-size: 300%;
  background-position: center;
  transition: all .3s ease-in-out;
  h5{
    transition: all .2s ease-in-out;
  }
}

.form-button {
  border: none !important;
  color:white;
}

.add-group {
  // Places the add-group button "over" the link to payment_groups so it's clickable
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $blue;
  border: 2px solid $light-gray;
  i{
    color: $light-gray;
    font-size: 16px;
  }
}

// Might need tweaking for when we have a lot of groups
.sign-out{
  // position: absolute;
  font-size: 26px;
  margin: 14px;
  width: 25px;
  height: 25px;

}

.back-button{
  font-size: 40px;
  margin-top: 6px;
}

.archive-button {
  font-size: 18px;
  background-color: $blue;
}

.form-control-file{
    display: none;
}

.split-card-button{

  margin: 0;
  min-height: 100%;
  background-color: $green;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: rgb(83,177,216);
background: linear-gradient(133deg, rgba(83,177,216,1) 24%, rgba(83,177,216,1) 44%, rgba(83,210,216,1) 90%);
  background-size: 250%;
  background-position: center;
  color: white;
  z-index: 2;
  i{
    font-size: 28px;
    text-shadow: 0 0 6px rgba(0,0,0,0.2);
  }
}

#new-split-button{
  margin-right: 18px;
}
