// Aligns items on the x-axis (mainly for positioning the sidebar with the main-container)

.group-index-container {
  padding: 16px;
}

.main-wrapper{
  width: 100%;

  display: flex;

}

// Aligns items on the y-axis for main content
.main-container{
  padding: 16px 16px;

  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.logo-container{
  border-bottom: 1px solid rgba(245, 245, 246, 0.3);
  margin-bottom: 8px;
}
