// Aligns items on the x-axis (mainly for positioning the sidebar with the main-container)

.main-wrapper{
  width: 100%;
  height: 100%;
  display: flex;

}

// Aligns items on the y-axis for main content
.main-container{
  padding: 8px 16px;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}
