.form-container{
  padding: 24px 24px;
  background-color: $light-gray;
  margin: 24px 24px;
  border-radius: 16px;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  h1{
    text-align: center;
  }
}

.form-control {
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 24px;
}



.form-control:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: black;
}

.edit-bill.expanded{
  height: 320px;
  transition: all .3s ease-in-out;
}

.edit-bill{
  box-shadow: none;
  overflow: hidden;
  height: 0px;
}

.edit-bill-form-container{
  padding: 8px 16px;
  background-color: $light-gray;
  margin: 8px;
  width: 100%;
}

#new-split-form{
  overflow: hidden;
  height: 0px;
  opacity: 0;
}
.new-split-form{
  margin-top: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
