.group-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;
}

.group-card-image {
  img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
  }
}

.group-card-title {
  text-align: right;
}

.group-card-details {
  text-align: right;
}

// remove this once the button is in the sidebar

.new-group-button {
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 2;
}

