.sidebar{
  display: flex;
  position: sticky;
  width: 100%;
  background-color: $blue;
  padding: 16px 6px;
.navbar-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
.navi-logo {
  display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}


// .sidebar-group{
//   // positions the sidebar-group "picture/links" on top of the sidebar-group-index-link
//   // Sets the images to be round with a small border
//   img{
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     box-shadow: 2px 0 8px rgba(0,0,0,0.4);
//     border: 2px solid $light-gray;
//   }
//   margin-bottom: 8px;

// }


