.split-show-subtitle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.split-show-title{
  width: 80%;
  p{
    font-size: 24px;
    margin: 0;
    opacity: 0.8;
  }
  i{
    font-size: 24px;
    opacity: 0.8;
  }
}
