.split-card-home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-gray;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  // Makes the flex-grow on the title take up the space it needs and makes the split-card take up the right amount of space
  min-width: 100%;
  h5{
    margin: 0 16px;
  }
}

.split-card-title{
  margin: 8px 16px;
  flex-grow: 2;
  display:flex;
  align-items: center;

  h3{
    margin: 0;
  }
  p{
    margin: 16px;
  }
}


.positive-balance{
  color: green;
}

.negative-balance{
  color: red;
}

.neutral-balance{
  color: gray;
}
